.DS_Store
infer-out/
*.swp
.idea/
build/
*.pbxuser
*.perspective
*.perspectivev3
xcuserdata
*.mode1v3
*.mode2v3
*.svn.*
Anjuke2.xcodeproj/project.xcworkspace/xcshareddata/
Anjuke2/shanghai.gpx
Anjuke2.xcworkspace/xcuserdata/
Anjuke2.xcworkspace/xcshareddata
Pods
gitupdate.sh
tags
PodfileDev
dev_config.sh
dev_build.sh
WChatLib.a
libWRTC.a
DerivedData/
.gem/

SizeReport.html
compile_commands.json
xcodebuild.log
builds
.vscode/


archive/
fastlane/report.xml
jenkinspackage/
*.keychain


.jscpd/
report/

